/111
bundleconfig.json
index.min.html
/css/main.min.css
/css/media.min.css
/temp
/node_modules
package.json
gulpfile.js
package-lock.json

### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk